* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
    font-family: Dela Gothic One;
    /* font-family: Montserrat; */
}

html {
    width: 100vw;
    overflow: hidden;
}

body {
    margin: 0 auto;
    background-color: #f6f5f4;
}

a {
    text-decoration: none;
    color: black;
}