.preview {
    width: 1220px;
    margin: 7% auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.preview .text {
    width: 520px;
    display: flex;
    flex-direction: column;
    /* gap: 25px; */
}

.preview .text .title {
    color: #2B788B;
    font: 700 16px Montserrat;
    margin-bottom: 24px;
    text-transform: uppercase;
}

.preview .text h1 {
    color: #000;
    font: 500 56px Dela Gothic One;
    /* width: 500px; */
    margin-bottom: 30px;
}

.preview .text .textL {
    width: 397px;
    color: #757575;
    font: 600 18px Montserrat;
    margin-bottom: 32px;
}

.preview .text .btnAbout {
    color: #2B788B;
    font: 700 16px Montserrat;
    border-radius: 30px;
    background: #C3DCE3;
    width: 165px;
    padding: 10px 0px;
    text-align: center;
}

.preview .text .quantity {
    width: max-content;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.preview .text .quantity .top {
    display: flex;
    align-items: center;
}

.preview .text .quantity .arrow {
    background-image: url('../PreviewInfo/assets/arrow.png');
    width: 24px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 5px;
}

.preview .text .quantity p {
    color: #000;
    font: 400 40px Dela Gothic One;
}

.preview .text .quantity p span {
    color: #2B788B;
    font-family: 400 40px Dela Gothic One;
}

.preview .text .quantity .underNumber {
    color: #585858;
    font: 600 16px Montserrat;
    text-align: center;
}

.preview .img {
    background-image: url('../PreviewInfo/assets/prewiewGuy.png');
    width: 710px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    left: 12%;
}

/* second section */

.wrapper {
    width: 100%;
    background-color: #fff;
}

.learnLanguage {
    width: 1220px;
    margin: 7% auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.learnLanguage .sittingGirl {
    background-image: url('../PreviewInfo/assets/sittingGirl.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 508px;
    height: 445px;
    margin-right: 120px;
}

.learnLanguage .secondPath {
    width: 520px;
    display: flex;
    flex-direction: column;
}

.learnLanguage .secondPath .bigL {
    color: #000;
    font: 400 48px Dela Gothic One;
    margin-bottom: 30px;
}

.learnLanguage .secondPath .smallL {
    color: #757575;
    font: 600 18px Montserrat;
    margin-bottom: 30px;
}

.learnLanguage .secondPath .imgSittingGirl {
    display: flex;
    gap: 20px;
}

.learnLanguage .secondPath .imgSittingGirl .sprint {
    background-image: url('./assets/foot/Group\ 11.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 129px;
    height: 112px;
}

.learnLanguage .secondPath .imgSittingGirl .tasks {
    background-image: url('./assets/tasks.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 172px;
    height: 112px;
}


/* third Path */

.increase {
    width: 1120px;
    display: flex;
    margin: 7% auto;
    justify-content: space-between;
    align-items: center;
}

.increase .thirdPath {
    /* width: 475px; */
    display: flex;
}

.increase .thirdPath .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 34px;
}

.increase .thirdPath .text h1 {
    color: #000;
    font: 400 48px Dela Gothic One;
}

.increase .thirdPath .text p {
    width: 396.886px;
    color: #757575;
    font: 600 18px Montserrat;
}

.increase .thirdPath .text .btnTextbook {
    display: flex;
    padding: 14px 22px;
    justify-content: center;
    align-items: center;
    gap: 19px;
    border-radius: 100px;
    background-color: #C3DCE3;
    width: 165px;

    color: #2B788B;
    font: 700 16px Montserrat;
}

.increase .thirdPath .imgGirlBook {
    width: 580px;
    height: 474px;
    background-image: url('./assets/girlBook.png');
    background-repeat: no-repeat;
    background-size: contain;
}

/* four path */

.wrapperFour {
    width: 100%;
    background-color: #fff;
}

.watchProgress {
    width: 1220px;
    margin: 7% auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.watchProgress .imgGirlBoy {
    width: 680px;
    height: 409.254px;
    background-image: url('./assets/children.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 20px;
}

.watchProgress .progressText {
    display: flex;
    flex-direction: column;
}


.watchProgress .progressText h1 {
    width: 474.464px;
    color: #000;
    font: 400 48px Dela Gothic One;
    margin-bottom: 30px;
}

.watchProgress .progressText p {
    width: 396.886px;
    color: #757575;
    font: 600 18px Montserrat;
    margin-bottom: 34px;
}

.watchProgress .progressText .btnStatistics {
    display: flex;
    padding: 14px 22px;
    justify-content: center;
    align-items: center;
    gap: 19px;
    border-radius: 100px;
    background-color: #C3DCE3;

    color: #2B788B;
    font: 700 16px Montserrat;
    width: 180px;
}