.footer {
    width: 1220px;
    margin: 7% auto;
}

.firstStitch {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.firstStitch .resources,
.name {
    display: flex;
    align-self: flex-start;
    gap: 30px;
}

.firstStitch .resources,
.name p {
    color: #757575;
    font: 600 12px Montserrat;
}

.secondStitch {
    margin-top: 27px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.secondStitch .instances {
    display: flex;
    gap: 30px;
}

.secondStitch .instances .img1 {
    background-image: url('./assets/first.png');
}

.secondStitch .instances .img2 {
    background-image: url('./assets/second.png');
}

.secondStitch .instances .img3 {
    background-image: url('./assets/third.png');
}

.secondStitch .instances .img1,
.img2,
.img3 {
    width: 30px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
}

.secondStitch .year {
    color: #757575;
    font: 600 12px Montserrat;
}